/build/
/build_prod/
/build_host_tests/

dependencies.lock
managed_components/
sdkconfig
sdkconfig.old

.vscode/

venv/
.env/
.mypy_cache/
__pycache__/
dependencies/*
.cache
.claude
ets_export
