CONFIG_KNX_TP1_BITBANG_TX_PIN=4
CONFIG_KNX_TP1_BITBANG_RX_PIN=5
# CONFIG_KNX_TP1_BITBANG_RX_PULLUP is not set
CONFIG_KNX_TP1_BITBANG_TX_DOMINANT_HIGH=y
CONFIG_KNX_TP1_BITBANG_RX_DOMINANT_HIGH=y
CONFIG_KNX_TP1_BITBANG_SAMPLE_OFFSET_US=70
CONFIG_KNX_TP1_BITBANG_START_BIT_VALIDATION_US=10
CONFIG_KNX_TP1_BITBANG_ISR_SERVICE_FLAGS=1032
CONFIG_GPTIMER_ISR_HANDLER_IN_IRAM=y
CONFIG_GPTIMER_CTRL_FUNC_IN_IRAM=yCONFIG_KNX_RX_TASK_STACK_SIZE=8192
